@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Pacifico&family=Satisfy&family=WDXL+Lubrifont+TC&display=swap');



body{
    font-family: "WDXL Lubrifont TC", sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    font-weight: 500;
    font-style: normal;
}

span{
    color: gold;
}

div{
    background-color: rgb(224, 215, 161);
    border: 2px  rgb(224, 202, 3);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
}

.border{
    background-color: rgb(253, 255, 245);
    border: 2px solid rgb(224, 202, 3);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
}

h1{
    text-align: center;
}

a:hover{
    color: #333;
}


@media (max-width: 800) {
    body{
        background-color: #333;
    }
    
}